Flask==3.0.0
flask-login==0.6.3
firebase-admin==6.4.0
Pyrebase4==4.8.0
python-dotenv==1.0.1
Werkzeug==3.0.1
numpy==1.26.4
tensorflow==2.15.0
Pillow==10.2.0
gunicorn==21.2.0
requests==2.31.0
setuptools==69.0.3
wheel==0.42.0